body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 0;
}
#map2{
    padding: 0;
}

.mapboxgl-ctrl-geocoder input[type="text"]{
    padding: 10px 80px 10px 30px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.row {
    margin: 0;
}

.container{
    padding-right: 20px;
    padding-left: 20px;
}

img{
    height: 200px;
}

h2{
    font-size: 1.5rem;
    margin-top: 1rem;
}

h3{
    font-size: 1.2rem;
    margin: 25px 0px 10px 0px;
    color: #3C4043;
}

h4 {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

p {
    font-size: .9rem;
    color: #3C4043;
}

li {
    list-style: none;
    font-size: .9rem;
}

.bmodal {
    margin: 25px 0px 10px 0px;
}

.dropdown-item{
    color: #3C4043;    
}

#dropdownMenuButton {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: #3C4043;
}

.user{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
}

.comments{
    position:relative;
    margin: 15px 40px;

}

.form-control-sm{
    margin: 5px 10px 10px 0px;
}

.form-check{
    margin: 10px 0;
}

.btn-plus{
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    display: flex;
    margin-top: 5px;

}
